@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  0% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  }
}
